<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/manage-reservation.css">
  <script defer src="../js/sensory.js"></script>
  <script defer src="../js/manageReservation.js"></script>
  <title>Sensory Play Days - Manage Reservation</title>
</head>
<body id="top">
  <header>
    <a href="/sensory" class="header-left-logo"><img src="../images/logo-no-background.svg" alt="Ezer Farm TN Logo" id="logo"></a>
    <label class="hamburger-menu">
      <input type="checkbox" id="sidebar-x-icon" role="button" aria-label="Toggle navigation menu">
    </label>
    <aside class="sidebar">
      <div class="overlay"></div>
      <nav>
        <img src="../images/logo-no-background.svg" alt="Ezer Farm TN Logo" id="logo">

        <ul>
          <li data-index="0" id="first-li"><a href="/sensory#about">About</a></li>
          <li data-index="1"><a href="mailto:ezerfarm@yahoo.com">Contact Us</a></li>
          <li data-index="2" class="curr-selected-li session-li"><a href="../sensory/schedule">Schedule a Session</a></li>
          <li data-index="3"><a href="/sensory#learn-more">Learn More</a></li>
          <li data-index="4" id="exit-sidebar">Exit</li>
        </ul>

        <svg id="up-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12,7L17,12H14V16H10V12H7L12,7M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M19,19V5H5V19H19Z" />
        </svg>
        <svg class="middle-select" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M10.76,8.69A0.76,0.76 0 0,0 10,9.45V20.9C10,21.32 10.34,21.66 10.76,21.66C10.95,21.66 11.11,21.6 11.24,21.5L13.15,19.95L14.81,23.57C14.94,23.84 15.21,24 15.5,24C15.61,24 15.72,24 15.83,23.92L18.59,22.64C18.97,22.46 19.15,22 18.95,21.63L17.28,18L19.69,17.55C19.85,17.5 20,17.43 20.12,17.29C20.39,16.97 20.35,16.5 20,16.21L11.26,8.86L11.25,8.87C11.12,8.76 10.95,8.69 10.76,8.69M15,10V8H20V10H15M13.83,4.76L16.66,1.93L18.07,3.34L15.24,6.17L13.83,4.76M10,0H12V5H10V0M3.93,14.66L6.76,11.83L8.17,13.24L5.34,16.07L3.93,14.66M3.93,3.34L5.34,1.93L8.17,4.76L6.76,6.17L3.93,3.34M7,10H2V8H7V10" />
        </svg>
        <svg id="down-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12,17L7,12H10V8H14V12H17L12,17M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M5,5V19H19V5H5Z" />
        </svg>

      </nav>
    </aside>
  </header>
  <main>
    <div class="section hidden" style="align-items: center;text-align: center;">
      <div class="box">
        <h3>Manage My Reservation</h3>
        <div id="reservation-info"></div>
      </div>
      <a href="/sensory/schedule" style="text-decoration: underline;font-weight: bold;" id="go-back">Go Back</a>
    </div>
  </main>
  <footer id="about">
    <a href="/sensory"><img src="../images/ezer-farm-logo-324x409.png" alt="Ezer Farm Logo" class="logo"></a>
    <p style="font-size: 0.8em;">Have Questions? <span style="font-weight: bold;margin-left: 1rem;"><a href="mailto:ezerfarm@yahoo.com">Send Us an Email</a></span></p>
    <p>Copyright © 2023 - Ezer Farm TN</p>
  </footer>
</body>
</html>