<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <script defer src="js/sensory.js"></script>
  <title>Sensory Play Days on Ezer Farm</title>
</head>
<body>
  <main>
    <header>
      <img src="images/logo-no-background.svg" alt="Ezer Farm TN Logo" id="logo">
      <label class="hamburger-menu">
        <input type="checkbox" id="sidebar-x-icon">
      </label>
      <aside class="sidebar">
        <div class="overlay"></div>
        <nav>
          <img src="images/logo-no-background.svg" alt="Ezer Farm TN Logo" id="logo">

          <ul>
            <li data-index="0" id="first-li">About</li>
            <li data-index="1">Contact Us</li>
            <li data-index="2" class="curr-selected-li session-li">Schedule a Session</li>
            <li data-index="3">Learn More</li>
            <li data-index="4" id="exit-sidebar">Exit</li>
          </ul>

          <svg id="up-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12,7L17,12H14V16H10V12H7L12,7M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M19,19V5H5V19H19Z" />
          </svg>
          <svg class="middle-select" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M10.76,8.69A0.76,0.76 0 0,0 10,9.45V20.9C10,21.32 10.34,21.66 10.76,21.66C10.95,21.66 11.11,21.6 11.24,21.5L13.15,19.95L14.81,23.57C14.94,23.84 15.21,24 15.5,24C15.61,24 15.72,24 15.83,23.92L18.59,22.64C18.97,22.46 19.15,22 18.95,21.63L17.28,18L19.69,17.55C19.85,17.5 20,17.43 20.12,17.29C20.39,16.97 20.35,16.5 20,16.21L11.26,8.86L11.25,8.87C11.12,8.76 10.95,8.69 10.76,8.69M15,10V8H20V10H15M13.83,4.76L16.66,1.93L18.07,3.34L15.24,6.17L13.83,4.76M10,0H12V5H10V0M3.93,14.66L6.76,11.83L8.17,13.24L5.34,16.07L3.93,14.66M3.93,3.34L5.34,1.93L8.17,4.76L6.76,6.17L3.93,3.34M7,10H2V8H7V10" />
          </svg>
          <svg id="down-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M12,17L7,12H10V8H14V12H17L12,17M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M5,5V19H19V5H5Z" />
          </svg>

        </nav>
      </aside>
    </header>
    <div class="hero">
      <div class="hero-body">
        <div class="hero-text">
          <h1>
          <span id="blue">S</span><span id="brown">e</span><span id="green">n</span><span id="light-purple">s</span><span id="yellow">o</span><span id="blue">r</span><span id="brown">y</span> <span id="brown">P</span><span id="green">l</span><span id="light-purple">a</span><span id="yellow">y</span> <span id="green">D</span><span id="light-purple">a</span><span id="yellow">y</span><span id="blue">s</span>
          <span class="block">
            <span id="light-purple">O</span><span id="yellow">n</span> <span id="blue">E</span><span id="brown">z</span><span id="green">e</span><span id="light-purple">r</span> <span id="brown">F</span><span id="green">a</span><span id="light-purple">r</span><span id="yellow">m</span>
          </span>
        </h1>
          <p>Training for homeschooling dads/moms designed to help your child with motor coordination, sensory processing, social and emotional learning, fine motor skills and more.</p>
        </div>
        <button class="hero-cta right-justified">Book a Session</button>
        <!-- <img src="images/ezer-farm-logo-324x409.png" alt="Ezer Farm Logo" class="logo"> -->
      </div>
    </div>
    <div class="slider-wrapper">
      <p>Our Farm</p>
      <div class="image-slider">
        <img src="images/alpaca-group.jpg" alt="Ezer Farm Slideshow">
      </div>
    </div>
    <div class="section hidden">
      <h2>Benefits of Sensory Play</h2>
      <p>Explore the science behind sensory play and how it positively impacts children's cognitive, emotional, and physical development, fostering creativity, problem-solving, and resilience.</p>
    </div>
    <div class="section hidden">
      <h2>Activities and Workshops</h2>
      <p>Our diverse range of activities and workshops target fine and gross motor coordination, sensory processing, social and emotional learning, and executive functioning for learning and attention.</p>
    </div>
    <div class="section hidden">
      <h2>Animal Interaction Experience</h2>
      <p>Enhance your child's sensory learning with our unique animal interaction sessions, where they can engage with friendly farm animals in a safe and supervised environment.</p>
    </div>
    <div class="section hidden">
      <h2>Farm Playground Fun</h2>
      <p>Let your kids enjoy two hours of playtime on our farm playground, designed to encourage exploration, creativity, and physical activity in a natural setting.</p>
    </div>
    <div class="section hidden">
      <h2>What to Bring and Wear</h2>
      <p>Learn about the essentials to pack for a day at Sensory Play Day, including appropriate clothing, snacks, drinks, and any other necessities for a fun and comfortable experience.</p>
    </div>
    <div class="section hidden">
      <h2>Booking and Pricing</h2>
      <p>Secure your spot at Sensory Play Day with our simple booking process. Learn about our affordable family pricing, which includes all kids from the same family for one low price.</p>
    </div>
    <div class="section hidden">
      <h2>Testimonials and Success Stories</h2>
      <p>Read heartwarming stories from families who have experienced the positive impact of Sensory Play Day on their children's growth and development.</p>
    </div>
    <div class="section hidden">
      <h2>Frequently Asked Questions</h2>
      <p>Find answers to commonly asked questions about Sensory Play Day, including age groups, safety measures, activity schedules, and other essential information to prepare for your visit.</p>
    </div>
  </main>
  <footer>
    <p>Address Here</p>
  </footer>
</body>
</html>