body {
  --bg: #d8d8d8;
  background-color: var(--bg);
}
.box {
  display: grid;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0, 0%, 96%);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  min-width: 70vw;
}
#new-play-day-form,
#add-play-day-modal,
.new-play-day-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#add-play-day-modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.6);
  animation: fade-in 0.2s ease-in-out;
}
#new-play-day-form {
  position: relative;
  padding-top: 5rem;
  justify-content: start;
  height: 350px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
}
#new-play-day-form #x {
  cursor: pointer;
  color: rgb(var(--red));
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0.85;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 2rem;
}
#new-play-day-form #x:hover {
  transform: scale(1.05);
}
.new-play-day-options {
  display: inline-flex;
  gap: 0.25rem;
  margin: 0 0.5rem;
  margin-bottom: 2.5rem;
}
.new-play-day-options select {
  padding: 0.4rem;
}
#new-play-day-form button {
  display: block;
  background-color: #f6f6f6;
  font-weight: bold;
  color: rgb(var(--blue));
  border: 2px solid rgb(var(--blue));
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#new-play-day-form button:hover {
  transform: scale(1.02);
}
.admin-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  padding: 0 2.5rem;
  text-align: center;
  width: 100%;
}
.admin-section {
  --bRadius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1.5rem;
  border: 1px dotted black;
  border-radius: var(--bRadius);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}
.admin-section:hover {
  transform: scale(1.01);
}
#available-days-info {
  margin-top: 1rem;
}
#available-days-info h4 {
  margin-bottom: 0.75em;
}
.disclaimer {
  padding: 0.5em 1.5em;
  font-size:0.9em;
  opacity:0.9;
}
#available-days-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7em;
  animation: fade-in 0.3s ease-in-out;
}
.available-day {
  font-size: 0.9em;
  line-height: 1.25em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0.75em;
  border: 1px solid black;
  border-radius: calc(var(--bRadius) - (var(--bRadius) / 2));
}
#deleteReservation {
  border-left: 1px solid rgb(var(--blue));
  padding-left: 0.5em;
  color: rgb(var(--red));
  opacity: 0.9;
}
#deleteReservation:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.addPlayDay {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95em;
  gap: 0.5rem;
  transition: all 0.1s ease-in-out;
}
.addPlayDay svg {
  max-width: 25px;
  opacity: 0.85;
}
.addPlayDay:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.addPlayDay:hover svg {
  opacity: 1;
}
.addPlayDay:hover p {
  color: rgb(var(--blue));
}

#reservations-info {
  gap: 0.5em;
}
#selectedDate {
  padding: 0.5em;
  border-radius: var(--bRadius);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#attendance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2.5em;
}
#attendance div {
  flex-grow: 1;
}
.attendeeInfo {
  background-color: #efefef;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  line-height: 1.25em;
  font-size: 0.9em;
  gap: 0.5em;
  border: 1px solid black;
  padding: 1em;
  margin: 0.75em 0;
  animation: fade-in 0.3s ease-in-out;
}
.attendeeInfo button {
  margin-top: 0.75em;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: 1px solid black;
  padding: 0.6em 0.7em;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.attendeeInfo button:hover {
  color: rgb(var(--offWhite));
  border-color: rgb(var(--blue));
  background-color: rgb(30, 30, 30);
}
@media screen and (min-width: 1300px) {
  .box {
    min-width: 50vw;
  }
  #available-days-list {
    grid-template-columns: 1fr 1fr;
  }
  .disclaimer {
    max-width: 60%;
  }
  #new-play-day-form {
    padding-top: 0;
    justify-content: center;
    height: 400px;
    width: 400px;
  }
}